#single-product{
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 0;


}



.product-image-wrapper{
	border: 0.5px solid #e6e6e6;
	overflow: hidden;
	padding: 30px 5px;


}

.product-image {
	text-align: center;
}

.product-image img{
	width: 80%;

}

.product-image-gl{
	padding-left: 20px;


}

.product-image-gl ul{
	margin: 0;
	padding: 20px 0;

}

.product-image-gl ul li{
	float: left;
	display: inline-block;
	padding: 0 5px;
}

.product-image-gl ul li img{
	width: 100px;

}

.product-title{

}
.product-title h1{
	font-size: 25px;
	color: #232323;
	font-weight: 600;


}
.product-table{

}
.product-table tr{

}
.product-table tr td{
	color: #202020;
	font-size: 14px;
	font-weight: 400;
	padding-right: 30px;

}
.product-price{
	padding: 20px 0;
}

.product-price span{
	color: #ba004b;
	font-size: 16px;
	font-weight: 600;

}

.product-description p{
	color: #202020;
	font-size: 14px;
	font-weight: 400;

}

.add-to-cart{
	padding: 20px 0;

}

.add-to-cart button{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: black;
	padding: 5px 0;
	border: none;
	border: 0.5px solid black;

}
.add-to-cart button:hover{
	background-color: white;
	color: black;
	border: 0.5px solid black;
	transition: 0.5s all ease;

}

.b-button button{


}

.buy-it{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: black;
	background-color: white;
	padding: 5px 0;
	border: none;
	border: 0.5px solid black;

}
.buy-it:hover{
	background-color: black;
	color: white;
	border: 0.5px solid black;
	transition: 0.5s all ease;

}

.wish-list{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #ba004b;
	background-color: white;
	padding: 5px 0;
	border: none;
	border: 0.5px solid #e6e6e6;

}


.wish-list:hover{
	background-color: #9da6ab;
	color: white;
	border: 0.5px solid black;
	transition: 0.5s all ease;
}

.tooltip-point{
	padding: 15px 0;
}

.tooltip-point a{
	color: #ba004b;
	text-decoration: none;
}


.tooltip-descrip{
	visibility: hidden;
	padding: 10px;
	background: rgb(231, 231, 231);

}
.tooltip-descrip p{
	color: black;
	font-size: 14px;

}
.tooltip-point ul li:hover .tooltip-descrip{
	visibility: visible;

}




.nav-tabs {
	margin-top: 30px;
	border-bottom: 1px solid #fafafa;
	border-bottom: 1px solid #e6e6e6;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fafafa;
	border-bottom: 1px solid #e6e6e6;
	color: #202020;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	font-family:
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-top: 2px solid black;
	border-color: 1px solid #e6e6e6 !important;
}

.tab-table h2{
	padding: 20px 0;

}
.tab-table table{
	width: 100%;
}
.tab-table table tr {
	border-left: 1px solid #e6e6e6!important;
	border-right: 1px solid #e6e6e6!important;
}
.tab-table table tr td{
	padding: 10px;
	border: 1px solid #e6e6e6!important;
	border-left: 0 !important;
	border-right:0!important;

}

.tab-table table tr td span{
	font-color:black ;
	font-weight: 600;
}


.tab-content p{
	padding-top: 40px;
	padding-bottom: 20px;
}


.descrip-wrapper{
	padding-left: 20px;

	padding-top: 30px;
	padding-bottom: 30px;
	border: 1px solid #e6e6e6!important;

}

.descrip-wrapper span{
	
	color: black;
	font-weight: 600;
}

.descrip-wrapper ul{
	padding-top: 20px;
	
}

.descrip-wrapper ul li{
	
	padding-bottom: 10px;
}









